# 1.	Write a Python Program to Find the Factorial of a Number?

In [76]:
def factorial(n):
    '''Takes a number and returns the factorial of that number'''
    if n==1 or n==0:
        return 1
    else:
        return n * factorial(n-1)

In [77]:
factorial(6)

720

# 2.	Write a Python Program to Display the multiplication Table?

In [6]:
a=int(input("Tabel of : "))
for i in range(1,11):
    print(a,"X",i,"=",a*i)

Tabel of : 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [29]:
def fibseq(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    elif n>1:
        return fibseq(n-1)+fibseq(n-2)

In [30]:
fibseq(7)

13

In [82]:
n=int(input("Enter number : "))
print("Fabonacci sequence of",n)
for i in range(0,n+1):
    print(fibseq(i),end=" ")

Enter number : 8
Fabonacci sequence of 8
0 1 1 2 3 5 8 13 21

# 4.	Write a Python Program to Check Armstrong Number?

In [57]:
def armstrongnum(num):
    n=num
    order = len(str(num))
    sum=0
    while(num>0):
        digit=num%10
        sum += digit ** order
        num = num//10
    
    if sum==n:
        print("Yes,",n,"is an armstrong number")
    else:
        print("No,",n,"is not an armstrong number")

In [58]:
armstrongnum(1634)

Yes, 1634 is an armstrong number

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [59]:
lower=int(input("lower limit : "))
upper=int(input("upper limit : "))
for num in range(lower, upper+1):
    order = len(str(num))
    sum=0
    temp=num
    while(temp>0):
        digit=temp%10
        sum += digit ** order
        temp //= 10
    
    if sum==num:
        print(num)

lower limit : 100
upper limit : 500
153
370
371
407

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [65]:
def sum(n):
    s=0
    for i in range(1,n+1):
        s=s+i
    return s

In [67]:
number=int(input("Please Enter Number : "))
print(f"The sum of Natural Numbers from 1 to {number} : ",sum(number))

Please Enter Number : 48
The sum of Natural Numbers from 1 to 48 :  1176